/* App.js */
* {
    box-sizing: border-box;
}

#body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

#main {
    margin-top: 30px;
    width: 100vw;
}

/* TopSwitch.js */
.conteiner-top {
    width: 100%;
    height:50px;
}

.subconteiner-top {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 2px black;
}

.line {
    width: 2px;
    background-color: black;
}

.link {
    text-decoration: none;
}

/* Statistics.js */
.statistics {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.subconteiner-statistics {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ConteinerTopCArd.js */
.conteiner-top-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* SmallCard.js */
.small-card {
    display: flex;
    border: solid 2px black;
    padding: 10px;
}

.name-card {
    padding-right: 15px;
}

/* ConteinerLartProduct.js */
.conteiner-last-product {
    width: 48%;
}

.border-last-product {
    border: solid 2px black;
}

.title-last-product {
    border-bottom: solid 2px black;
    padding: 5px;
}

.info-last-product {
    padding: 5px;
    width: 100%;
    display: flex;
}

.half-conteiner-image {
    width: 60%;
}

.image {
    width: 100%;
}

.half-conteiner-description {

    width: 40%;
}

.name-last-product {
    padding-bottom: 5px;
}


/* ConteinerCategories.js */
.conteiner-categories {
    width: 48%;
}

.border-categories {
    border: solid 2px black;
    padding-bottom: 10px;
}

.title-categories {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    padding: 5px;
}

.subconteiner-categories {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Category.js */
.category {
    width: 45%;
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    padding: 10px;
    margin-bottom: 15px;
}

.name-category {
    padding-right: 15px;
}

/* Manage.js */
.manage {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

/* CreateProducts.js */
.create-products {
    display: flex;
    justify-content: center;
}

.conteiner-create {
    border: solid 2px black;
    padding: 10px;
    margin-bottom: 40px;
}

/* ConteinerProducts.js */
.conteiner-products {
    border: solid 2px black;
    margin: auto;
    width: 100%;
}

.subconteiner-nav {
    height: 40px;
    border-bottom: solid 2px black;
}

.ul-products  {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.li-products {
    font-size: 20px;
    font-weight: 400;
}

/* Product.js */

.product {
    border-bottom: solid 1px black;
}

.administrator-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.id-product {
    color: black;
}

.text-product {
    width: 20%;
    margin-left: 0%;
    color: black;
}

.edit-product {
    position: relative;
    left: -8%;
}

#icon-edit-product {
    color: gray;
    font-size: 20px;
    transition: color 350ms;
}
#icon-edit-product:hover {
    color: black;
}

.delete-product {
    position: relative;
    left: -3%;
}

#button-delete {
    color: gray;
    font-size: 20px;
    background-color: white;
    border: none;
    transition: color 350ms;
}

#button-delete:hover {
    color: black;
}
