/* >>>>>>>>>>>>>>>>>>>>>>>> Generales <<<<<<<<<<<<<<<<<<<<<<<<< */

body {
    background-color: darkmagenta;
}

.titulo-Product {
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-left: 32vh;
    color: rgb(184 231 235);
}

.categories-title {
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-left: 37vh;
}

.gris-claro {
    color: rgb(184 231 248);
}

.celeste {
    color: rgb(81, 196, 211);
}

.verde-agua {
    color: rgb(18, 110, 130);
}

.azul-oscuro {
    color: #132C33;
}

.background {
    background-color: rgb(19 44 51);
    color: rgb(184 231 248);
}

.background-white {
    background-color: white;
}

.background-celeste {
    background-color: rgb(120, 215, 228);
}

.background-dark {
    background-color: rgb(19, 44, 51);
}

.border-radius {
    border-radius: 4px;
}

.border {
    padding-right: 4px;
    border-radius: 21px;
    border: solid 1px rgb(81, 196, 211);
}

.bold {
    font-weight: bold;
    margin-right: 22px;
}

.italic {
    font-style: italic;
}

.title-top {
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
}


/* -----------------------App.js------------------------ */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    background-color: #D8E3E7;
}

#main {
    margin-top: 30px;
    width: 100vw;
    padding-right: 19px;
}


/* ---------------------TopSwitch.js--------------------- */

.conteiner-top {
    width: 100%;
    height: 50px;
}

.subconteiner-top {
    width: 40%;
    background-color: #78d7e4;
    height: 30px;
    padding-right: 35px;
    padding-left: 47px;
    border: solid #99b6ba 2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.line {
    width: 2px;
    background-color: rgb(81, 196, 211);
}

.link {
    text-decoration: none;
}


/* ----------------------Statistics.js------------------ */

.statistics {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.subconteiner-statistics {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ------------------ConteinerTopCArd.js----------------- */

.conteiner-top-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}


/* ---------------------SmallCard.js--------------------- */

.small-card {
    display: flex;
    padding: 10px;
    border: solid 2px #99b6ba;
}

.name-card {
    padding-right: 13px;
    padding-left: 20px;
}


/* ----------------ConteinerLartProduct.js-------------- */

.conteiner-last-product {
    width: 48%;
}

.border-last-product {
    border-radius: 8px;
    border: solid 2px #a7a7a7;
}

.title-last-product {
    padding: 12px;
    border-radius: 6px 6px 0px 0px;
}

.info-last-product {
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 7px 12px #000000;
    display: flex;
}

.half-conteiner-image {
    width: 60%;
}

.image {
    width: 100%;
}

.half-conteiner-description {
    width: 40%;
    position: relative;
}

.name-last-product {
    margin-top: 20px;
}

.button {
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 13px 1px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* --------------ConteinerCategories.js--------------- */

.conteiner-categories {
    width: 48%;
}

.border-categories {
    padding-bottom: 11.5vh;
    border-radius: 6px 6px 8px 8px;
    box-shadow: 0px 7px 12px #000000;
}

.title-categories {
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 12px;
}

.subconteiner-categories {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ----------------------Category.js------------------- */

.category {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.name-category {
    padding-right: 15px;
}


/* ---------------------Manage.js----------------------- */

.manage {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


/* -----------------CreateProducts.js------------------- */

.create-products {
    display: flex;
    justify-content: center;
}

.conteiner-create {
    border-radius: 10px;
    border: solid 2px #99b6ba;
    padding: 10px;
    background-color: #78d7e4;
    margin-bottom: 40px;
}


/* --------------ConteinerProducts.js------------------- */

.conteiner-products {
    border: solid 2px rgb(19 44 51);
    box-shadow: 0px 0px 20px #000000cc;
    margin: auto;
    background-color: white;
    width: 100%;
}

.subconteiner-nav {
    height: 39px;
    border-top: solid 1px;
    border-bottom: solid 59px rgb(19 44 51);
    background-color: rgb(18 110 130);
}

.ul-products {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.add-product {
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #132C33;
}

.li-products {
    font-size: 20px;
    position: relative;
    color: rgb(184 231 248);
    letter-spacing: 1.5px;
    font-weight: bold;
    left: -14px;
}


/* -------------------Product.js----------------------- */

.product {
    border-bottom: solid 1px black;
}

.administrator-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.id-product {
    position: relative;
    color: rgb(18 110 130);
    left: -4px;
}

.text-product {
    width: 20%;
    margin-left: 0%;
    color: rgb(18 110 130);
}

.edit-product {
    color: rgb(18 110 130);
    position: relative;
    left: -9%;
}

#icon-edit-product {
    color: gray;
    font-size: 20px;
    transition: color 350ms;
}

#icon-edit-product:hover {
    color: black;
}

.delete-product {
    position: relative;
    left: -4.5%;
}

#button-delete {
    color: gray;
    font-size: 20px;
    background-color: white;
    border: none;
    transition: color 350ms;
}

#button-delete:hover {
    color: black;
}