/* >>>>>>>>>>>>>>>>>>>>>>>> Generales <<<<<<<<<<<<<<<<<<<<<<<<< */

.gris-claro {
    color: rgb(216, 227, 231);
}
.celeste {
    color: rgb(81, 196, 211);
}
.verde-agua {
    color: rgb(18, 110, 130);
}
.azul-oscuro {
    color: rgb(19, 44, 51);
}

.background {
    background-color: rgb(192, 218, 228);
}
.background-white {
    background-color: white;
}
.background-celeste {
    background-color: rgb(120, 215, 228);
}
.background-dark {
    background-color: rgb(19, 44, 51);
}

.border-radius {
    border-radius: 4px;
}
.border {
    border: solid 1px rgb(81, 196, 211);
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.title-top {
    font-size: 20px;
}

/* -----------------------App.js------------------------ */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    background-color: rgb(233, 226, 241);
}

#main {
    margin-top: 30px;
    width: 100vw;
}

/* ---------------------TopSwitch.js--------------------- */
.conteiner-top {
    width: 100%;
    height:50px;
}

.subconteiner-top {
    width: 40%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.line {
    width: 2px;
    background-color: rgb(81, 196, 211);
}

.link {
    text-decoration: none;
}

/* ----------------------Statistics.js------------------ */
.statistics {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.subconteiner-statistics {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ------------------ConteinerTopCArd.js----------------- */
.conteiner-top-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

/* ---------------------SmallCard.js--------------------- */
.small-card {
    display: flex;
    padding: 10px;
    border-left:solid 3px rgb(19, 44, 51);
    border-right:solid 3px rgb(19, 44, 51)
}

.name-card {
    padding-right: 15px;
}

/* ----------------ConteinerLartProduct.js-------------- */
.conteiner-last-product {
    width: 48%;
}

/* .border-last-product {
    border: solid 2px black;
} */

.title-last-product {
    padding: 5px;
    border-bottom: solid 1px rgb(81, 196, 211);;
}

.info-last-product {
    padding: 5px;
    width: 100%;
    display: flex;
}

.half-conteiner-image {
    width: 60%;
}

.image {
    width: 100%;
}

.half-conteiner-description {
    width: 40%;
    position: relative;
}

.name-last-product {
    margin-top: 20px;
}

.button {
    padding: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* --------------ConteinerCategories.js--------------- */
.conteiner-categories {
    width: 48%;
}

.border-categories {
    padding-bottom: 10px;
}

.title-categories {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(81, 196, 211);;
    padding: 5px;
}

.subconteiner-categories {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ----------------------Category.js------------------- */
.category {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
}

.name-category {
    padding-right: 15px;
}

/* ---------------------Manage.js----------------------- */
.manage {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

/* -----------------CreateProducts.js------------------- */
.create-products {
    display: flex;
    justify-content: center;
}

.conteiner-create {
    border: solid 2px black;
    padding: 10px;
    margin-bottom: 40px;
}

/* --------------ConteinerProducts.js------------------- */
.conteiner-products {
    border: solid 2px black;
    margin: auto;
    width: 100%;
}

.subconteiner-nav {
    height: 40px;
    border-bottom: solid 2px black;
}

.ul-products  {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.li-products {
    font-size: 20px;
    font-weight: 400;
}

/* -------------------Product.js----------------------- */

.product {
    border-bottom: solid 1px black;
}

.administrator-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.id-product {
    color: black;
}

.text-product {
    width: 20%;
    margin-left: 0%;
    color: black;
}

.edit-product {
    position: relative;
    left: -8%;
}

#icon-edit-product {
    color: gray;
    font-size: 20px;
    transition: color 350ms;
}
#icon-edit-product:hover {
    color: black;
}

.delete-product {
    position: relative;
    left: -3%;
}

#button-delete {
    color: gray;
    font-size: 20px;
    background-color: white;
    border: none;
    transition: color 350ms;
}

#button-delete:hover {
    color: black;
}
